
.form{
    font-family: sans-serif;
    font-size: 16px;
    background-color: #ECEBC9;
    padding:10px;
}

.form *{
    box-sizing: border-box;
    line-height: 1.5;
}

.form_title{
    font-size: 2em;
}

.form_item{
    display:flex;
    flex-direction: column;
}

.form_item > * {
    align-self: flex-start;
}

.form_label {
    padding: 5px 0;
}

.form_input{
    width:100%;
    max-width:425px;

    /*fix for Safari/IOS data fields*/
    min-height: calc(0.9em + (0.8em * 2) + 0.4em);
    /*font size plus padding of top and bottom  */
    padding: 0.8em;
    font-size: 0.9em;
    font-family: sans-serif;
    outline:none;
    border: 1px solid #808080;
    border-radius:4px;
    background: #ededed;
    transition: background 0.25s, border-color 0.25s, color 0.25s;
    /*smooth transition for any of these properties , specifically error messages*/
}

.form_input:focus{/*focus is for when the person is typing in the box*/
    background:white;
}

.form_input::placeholder {
    
}
